<h1>Paulo Henrique Software Engineer Ruby on Rails</h1>
<ul> 
    <li>
        <a href="/coins">Cadastro Coins</a>    
    </li>

    <li>
    <%= link_to "Cadastro Coins Utilizando Helpers",coins_path%> 
    </li>

</ul>